*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0 0 0 12rem;
}

table {
  border-spacing: 10;
}

td {
  padding: 1rem;
  border-bottom: #ccc 1px solid;
}

.box{
  width: 100%;
  height: 10vh;
  border-radius: 10px;
  margin-top: 10px;
  background-color: aqua;
}
